<!DOCTYPE html>
<html lang = 'en'>
<head>
  <title>IMAGE</title>
</head>
<body>
    <img src = 'https://i1.rgstatic.net/ii/profile.image/1006695690027013-1617026364911_Q512/Dipankar-Saha-17.jpg'
     width = '300px' height = '200px'>
</body>
</html>




<!DOCTYPE html>
<html lang = 'en'>
<head>
  <title>IMAGE</title>
</head>
<body>
    <img src = 'https://www.bing.com/images/blob?bcid=r3qdwodMNxcHDnEwKGG0jb3p2tca.....3I'
     width = '300px' height = '200px'>
</body>
</html>






